<html>
<head>
	<title>Hominin.net - A Human Evolution Fossil Database</title>

<link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
<link type="text/css" rel="stylesheet" href="/css/main.css" />
</head>
	<body>
		<h1>Hominin.net</h1>
		{% for fossil in fossils %}
		{% if fossil.author %}
        <b>{{ fossil.author.nickname }}</b> submitted:
		{% else %}
		An anonymous person submitted:
		{% endif %}
		<blockquote>
			<strong><a href="/fossil/{{ fossil.title|escape }}">{{ fossil.title|escape }}</a></strong>, a {{ fossil.antiquity|escape }} <a href="/species/{{ fossil.species|escape }}"><em>{{ fossil.species|escape }}</em></a> specimen from <a href="http://maps.google.com/maps?f=q&hl=en&geocode=&q={{ fossil.lat|escape }},{{ fossil.lng|escape }}&ie=UTF8&ll=11.049038,40.297852&spn=5.669464,11.425781&z=7&iwloc=addr">{{ fossil.field_site|escape }}</a>. To learn more about this specimen, please <a href="http://dx.doi.org/{{ fossil.doi|escape }}">read the primary publication</a>.
		</blockquote>
    	{% endfor %}
		<a href="{{ login }}">{{ login_linktext }}</a> | Home | <a href="/submit">Submit</a> | <a href="/map">Map</a>
	</body>
</html>