<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Hominin {% block title %} {% endblock title %}</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="../static/default.css" rel="stylesheet" type="text/css" media="screen" />
<style type="text/css">
<!--
	@import url("../static/layout.css");
-->
</style>
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1>Hominin</h1>
		<h2></h2>
	</div>
	
	<div id="main-menu">
		
		<ul id="main">
			<li class="first"><a href="#" id="main-menu1" accesskey="1" title="">Home</a></li>
			<li><a href="#" id="main-menu2" accesskey="2" title="">Submit</a></li>
			<li><a href="#" id="main-menu3" accesskey="3" title="">Maps</a></li>
		</ul>
		
		<ul id="userStatus">		
		{% if user %}
			<li>  Welcome, {{ user.nickname }} <a href="{{ logout_url }}"> Logout </a></li>		
		{% else %}
			<li><a href="#">Login</a></li>
		{% endif %}		
		</ul>
	</div>
	
	<div id="content">
		<div id="left">
	
			{% block primaryContent %}				
			{% endblock primaryContent %}		
		
		</div>
	</div>
	
	<div id="right">

			{% block rightMenu %}				
			{% endblock rightMenu %}	

	</div>

	<div class="hr1">
		<hr />
	</div>

	<div id="footer">
		<ul>
			<li><a href="#" title="">Home</a></li>
			<li><a href="#" title="">Products</a></li>
			<li><a href="#" title="">Services</a></li>
			<li><a href="#" title="">About Us</a></li>
			<li><a href="#" title="">Contact Us</a></li>
		</ul>
		<p>Copyright &copy; </p>
	</div>
</div>
</body>
</html>
